## temp files
.DS_Store
*.*~

## LaTeX
*.aux
*.log
*.bbl
*.blg
*.toc
manuscript/HackingDataScience.synctex.gz

*.gz

*.gz

*eps-converted-to.pdf

manuscript/AstroHackWeekStudy.pdf
manuscript/manuscript.pdf
manuscript/HackingDataScience.pdf

manuscript/ci_abstract/poster_CI2016_sized_fedex.pdf
